.container {
  background-color: black;
  border: 5px solid rgb(0, 255, 0);
}

.introdution {
  font-size: 4rem;
  font-weight: bold;
  background-color: rgb(115, 221, 28);
}

.mainPart {
  background-color: rgb(39, 80, 0);
}

.ending {
  padding-top: 50px;
  font-size: 1.5rem;
  background-color: rgb(13, 163, 13);
}