.container {
  background-color: rgb(36, 34, 34);
  border: 5px solid blue;
}

.introdution {
  font-size: 3rem;
  font-weight: bold;
  background-color: grey;
}

.mainPart {
  background-color: lightgray;
}
.ending {
  padding-top: 50px;
  font-size: 1.5rem;
  background-color: darkgrey;
}
