.container {
  background-color: black;
  border: 5px solid blue;
}

.introdution {
  font-size: 4rem;
  font-weight: bold;
  background-color: grey;
}

.mainPart {
  background-color: lightgray;
}

.ending {
  padding-top: 50px;
  font-size: 1.5rem;
  background-color: darkgrey;
}